# Space Data Exploration: Mars and Asteroids
You've heard of space exploration. Maybe someday you'd like to go into space and explore where none have gone before. When you return, you'll have a great story to tell, but great stories aren't as valuable without real data supporting them. In this notebook, you'll sample some of the data that NASA is returning from space, to prepare you for your journey today and tomorrow.

### Gather up needed libraries
Here is where you stock your spacecraft with the supplies you will need for the journey. Engineers have been hard at work on the programming packages that can take you to the stars and back.

In [1]:
# import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs, SoupStrainer as ss
from splinter import Browser
import urltools
import webbrowser
import time
import random

### Martian News
Read up on what the latest unmanned craft are doing on the Red Planet. 

In 1976, Viking I was the second spacecraft to land softly on Mars and the first to send back understandable photographic images. The Soviet Union had landed its Mars 3 craft on Mars in 1971 but contact was lost soon after the first grainy photograph reached earth. 

Here is what you might have seen if you had been watching ABC in 1976:
https://www.youtube.com/watch?v=JDiiPhNs2Xw

In [2]:
# scrape latest news article title and headline

# store full url
news_url = 'https://mars.nasa.gov/news/'


# visit mars news website
#browser.visit(news_url)
browser=urltools.urlread(news_url)
# parse through html
news_soup = bs(browser, 'html.parser')

x=0
linklist=[]
for link in news_soup.find_all('a', href=True):
    x+=1
    if 'news' in link['href'] and x==1:
        #print('https://mars.nasa.gov' + link['href'])
        linklist=linklist+['https://mars.nasa.gov' + link['href']]
    if x==1:
        x=-1

for x in range(len(news_soup.find_all('div', class_='content_title'))):
    news_title = news_soup.find_all('div', class_='content_title')[x].text.replace('\n', ' ')[2:]
    news_p = news_soup.find_all(class_='rollover_description_inner')[x].text.replace('\n', ' ')[1:]
    # print title and headline
    print(news_title)
    print(news_p)
    print(linklist[x])
    print()

NASA and ESA Agree on Next Steps to Return Mars Samples to Earth
The agency’s Perseverance rover will establish the first sample depot on Mars.
https://mars.nasa.gov/news/9286/nasa-and-esa-agree-on-next-steps-to-return-mars-samples-to-earth/

NASA's InSight 'Hears' Its First Meteoroid Impacts on Mars
The Mars lander’s seismometer has picked up vibrations from four separate impacts in the past two years.
https://mars.nasa.gov/news/9264/nasas-insight-hears-its-first-meteoroid-impacts-on-mars/

NASA's Perseverance Rover Investigates Geologically Rich Mars Terrain
The latest findings provide greater detail on a region of the Red Planet that has a watery past and is yielding promising samples for the NASA-ESA Mars Sample Return campaign.
https://mars.nasa.gov/news/9261/nasas-perseverance-rover-investigates-geologically-rich-mars-terrain/

NASA to Host Briefing on Perseverance Mars Rover Mission Operations
Members of the mission will discuss the rover’s activities as it gathers samples in an ancient river delta.
https://mars.nasa.gov/news/9257/nasa-to-host-briefing-on-perseverance-mars-rover-mission-operations/

NASA Will Inspire World When It Returns Mars Samples to Earth in 2033
This advanced mission architecture will include two sample recovery helicopters.
https://mars.nasa.gov/news/9233/nasa-will-inspire-world-when-it-returns-mars-samples-to-earth-in-2033/

NASA, Partner Establish New Research Group for Mars Sample Return Program
Sixteen scientists from the U.S., Europe, Canada, and Japan have been chosen to help future samples from the Red Planet achieve their full potential.
https://mars.nasa.gov/news/9205/nasa-partner-establish-new-research-group-for-mars-sample-return-program/

### Latest Images from Mars
Sample the more than 10,000 images NASA has collected from the Martian surface by InSight and Perseverance land-based craft and views of Mars from space from the Odyssey.

In [3]:
# scrape featured_image_url
# Random 1 to 834
pn=str(random.randint(0, 835))
print('Page '+pn)
# store full and base urls
image_url = 'https://www.jpl.nasa.gov/images?topics=Mars%3FPage%3D2,Mars&page=' + pn
print(image_url)
image_base_url = 'https://www.jpl.nasa.gov'

# visit site
#browser.visit(image_url)
browser=urltools.urlread(image_url)

# parse through html
image_soup = bs(browser, 'html.parser')

partial_image_url = image_soup.find_all(class_='BaseImage object-contain')
paragraphs = []
for x in partial_image_url:
    paragraphs.append(str(x))

newlist=[]
for listitem in paragraphs:
    startpos = listitem.index('data-src=')+9
    endpos = listitem.index('loading')-1
    newlist=newlist+[listitem[startpos:endpos]]

for elem in newlist:
    # Add a URL of JavaTpoint to open it in a browser  
    url= elem[1:-1]
    print(url)
    # Open the URL using open() function of module  
    #webbrowser.open_new_tab(url)

Page 788
https://www.jpl.nasa.gov/images?topics=Mars%3FPage%3D2,Mars&page=788
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02367.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02378.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02371.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02366.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02365.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02376.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02375.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02372.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02379.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02370.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02392.2e16d0ba.fill-400x400-c50.jpg
https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA02390.2e16d0ba.fill-400x400-c50.jpg

### Martian Seasonal Lengths

In [4]:
import html5lib
# scrape table with facts about mars

seasons_url = 'https://www.space.com/16903-mars-atmosphere-climate-weather.html'
seasons_table = pd.read_html(seasons_url)[0]

# renaming columns
facts_mapping = {1:'Season', 1:'Length in Martian Sols', 2:'Length of Earth days'}
seasons_table = seasons_table.rename(columns=facts_mapping)

seasons_table

,Season (Northern Hemisphere),Length of Martian season (sols),Length of Earth season (days)
0,Spring,194,93
1,Summer,178,93
2,Autumn,142,90
3,Winter,154,89

### Mars Basic Physical Facts

In [5]:
facts_url = 'https://space-facts.com/mars/'
# reading html into a dataframe
facts_table = pd.read_html(facts_url)

# store only mars facts
mars_table = facts_table[1]

# renaming columns
facts_mapping = {0:'Description', 1:'Value'}
mars_table = mars_table.rename(columns=facts_mapping)

# saving as html table format
mars_table.to_html('mars_table.html', index=False)

# print data frame
mars_table

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

### Martian Weather Report

In [6]:
"""
This section is waiting for NASA to populate the API from data received back from the InSight lander.
import MartianWeather as mw
"""
def MarsWeather():
    
    api_key='mSNq4WyIxm9GlJLFJ1A5pscqH9iI9WXw1AERD3CW'
    # Create an Api instance using the DEMO_KEY or your developer key
    api = mw.Api(api_key)

    # Get a python dictionary with data from the api
    data = api.data

    # Create a list of Sol instances with data from the api
    sols = mw.get_sols(data)

    # Iterate through all the available sols(Martian Days)
    for sol in sols:
        # Print the average temperature for each sol
        print(f'{sol.key}: {sol.temp.avg} {sol.temp.unit}')

## Hazardous Asteroids that NASA is tracking
### Asteroids with Orbital Animations
Each day asteroids are orbiting the sun. As of October 27, 2022, NASA has identified and is tracking 1.1 million asteroids. Many more remain undiscovered and untracked. Some of these come within a few hundred thousand miles of earth as they orbit. Here you can take a look at a random selection of space hazards NASA is tracking each day. Hazardous objects are those of a certain size which are calculated to approach within .05 AU of the earth. The AU is the astronomical unit. 1 AU = the distance between the earth and the sun. .05 AU is 1/20th the distance between Earth and the Sun. 93 million * .05 = 4,650,000 miles. In terms of the distances of space, this is close.

Click on the links to see animation of your asteroid's orbital path, and how close it is expected to come to Earth.

In [14]:
import requests 
import json 
import webbrowser
from datetime import datetime, timedelta
from datetime import date
import time
import calendar

api_key='mSNq4WyIxm9GlJLFJ1A5pscqH9iI9WXw1AERD3CW'
datest = (datetime.today() - timedelta(days=5)).strftime('%Y-%m-%d')
dateend = date.today().strftime('%Y-%m-%d')

f = (r"https://api.nasa.gov/neo/rest/v1/feed?start_date=" + datest + 
     "&end_date=" + dateend + "&api_key=" + api_key)
print(f)
data = requests.get(f)
t = json.loads(data.text)

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return (d1 - d2).days
correct_date=False

while not correct_date:
    dateput=input('Input a date (YYYY-MM-DD) between ' + datest + ' and ' + dateend + '. ')
    # format
    format = '%Y-%m-%d'
    try:
        datef=datetime.strptime(dateput,format)
        complete_date=datef.strftime("%b %d, %Y")
        
        calday=calendar.day_name[datef.weekday()]  #'Wednesday'
        #print(calday)
        correct_date=True
    except:
        print('Your date does not fit the required format. Try again.')
        continue
        
hazardous=input('Do you want to see only asteroids NASA considers potentially hazardous? (y/n) ')
print()
hazard_bool=True if hazardous.upper()=='Y' else False    
        
#print(datef)
today = date.today()

    
f0='is_potentially_hazardous_asteroid'
f1='close_approach_data'
f2='miss_distance'
f3='miles'
f4='estimated_diameter'
f5='feet'
f6='estimated_diameter_min'
f7='estimated_diameter_max'
date_prefix=('****Available National Aeronautics and Space Administration (NASA) data as of ' + 
             calday + ', '+ complete_date + '***')
size_prefix='and between '
name_prefix='The object named '
NASA_prefix='https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?'
NASA_suffix='&view=VOP'

print(date_prefix)
def asteroidal(jtext):

    world_end='is not going to'
    try:
        if hazard_bool==True:
                print('The following asteroids are considered hazardous and have an orbital path around the ' +
                      'sun that can get \nrelatively close to the earth...')
        else:
            print('NASA is tracking the following asteroids but not all are considered hazardous...')
        for y in range(len(t['near_earth_objects'][dateput])):
            parser=t['near_earth_objects'][dateput][y]['nasa_jpl_url'].index('sstr')
            if hazard_bool==True:
                if bool(t['near_earth_objects'][dateput][y][f0]) == True:
                    tup_return= (name_prefix + t['near_earth_objects'][dateput][y]['name'], 
                    'is ' + "{0:,.0f}".format(float(t['near_earth_objects'][dateput][y][f1][0][f2][f3])) + 
                                    ' miles from Earth',
                    size_prefix + str("{0:,.0f}".format(float(t['near_earth_objects'][dateput][y][f4][f5][f6])))+
                    ' and ' + str("{0:,.0f}".format(float(t['near_earth_objects'][dateput][y][f4][f5][f7]))) + 
                                     ' feet across.',
                    NASA_prefix + t['near_earth_objects'][dateput][y]['nasa_jpl_url'][parser:] + NASA_suffix,
                    'NASA considers this object hazardous.')

                    if (float(t['near_earth_objects'][dateput][y][f1][0][f2][f3]) > 200000. 
                    and 'not' in world_end):
                        world_end='is not going to'
                    else:
                        world_end="might, but probably won't,"

                    for x in range(len(tup_return)):
                        print(tup_return[x])
                    print()
            else:
                
                tup_return= (name_prefix + t['near_earth_objects'][dateput][y]['name'], 
                'is ' + "{0:,.0f}".format(float(t['near_earth_objects'][dateput][y][f1][0][f2][f3])) + 
                             ' miles from Earth',
                size_prefix + str("{0:,.0f}".format(float(t['near_earth_objects'][dateput][y][f4][f5][f6])))+
                    ' and ' + str("{0:,.0f}".format(float(t['near_earth_objects'][dateput][y][f4][f5][f7])))+ 
                                 ' feet across.',
                NASA_prefix + t['near_earth_objects'][dateput][y]['nasa_jpl_url'][parser:] + NASA_suffix,
                'NASA considers this object hazardous.\n' if bool(
                    t['near_earth_objects'][dateput][y][f0]) == True else '')

                if float(t['near_earth_objects'][dateput][y][f1][0][f2][f3]) > 200000. and 'not' in world_end:
                    world_end='is not going to'
                else:
                    world_end="might, but probably won't,"

                for x in range(len(tup_return)):
                    print(tup_return[x])
                print()
        print()
        print('The world',world_end,'end today.')
        print('For more information on what your favorite asteroid would do if it struck the Earth, see ' +
             'https://impact.ese.ic.ac.uk/ImpactEarth/ImpactEffects/')
    except Exception as e:
        #print(e)
        if days_between(str(today),dateput)<1:
            print('NASA is working to update the asteroid data that correspond with ' + dateput + '. '
                 'Thank you for your patience.')
        else:
            print("Your date is outside NASA's asteroidal presentation parameters." + 
                  ' Please enter another date, or run for cover.')    
asteroidal(t)

https://api.nasa.gov/neo/rest/v1/feed?start_date=2022-10-29&end_date=2022-11-03&api_key=mSNq4WyIxm9GlJLFJ1A5pscqH9iI9WXw1AERD3CW
Input a date (YYYY-MM-DD) between 2022-10-29 and 2022-11-03. 2022-11-03
Do you want to see only asteroids NASA considers potentially hazardous? (y/n) n

****Available National Aeronautics and Space Administration (NASA) data as of Thursday, Nov 03, 2022***
NASA is tracking the following asteroids but not all are considered hazardous...
The object named 68278 (2001 FC7)
is 36,035,942 miles from Earth
and between 1,814 and 4,055 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2068278&view=VOP


The object named 333478 (2004 SD20)
is 25,555,549 miles from Earth
and between 2,035 and 4,550 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2333478&view=VOP


The object named (2012 KC6)
is 41,239,651 miles from Earth
and between 417 and 933 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=3604307&view=VOP
NASA considers this object hazardous.


The object named (2019 YS3)
is 23,369,958 miles from Earth
and between 100 and 224 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=3956451&view=VOP


The object named (2020 KU2)
is 33,756,010 miles from Earth
and between 60 and 135 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54017165&view=VOP


The object named (2020 RM)
is 15,334,331 miles from Earth
and between 33 and 74 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54053734&view=VOP


The object named (2020 VC)
is 9,986,798 miles from Earth
and between 83 and 186 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54087377&view=VOP


The object named (2021 RK7)
is 30,541,345 miles from Earth
and between 123 and 275 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54194972&view=VOP


The object named (2021 UK3)
is 30,722,955 miles from Earth
and between 111 and 248 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54213275&view=VOP


The object named (2021 VA2)
is 22,884,749 miles from Earth
and between 84 and 188 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54216276&view=VOP


The object named (2022 EK4)
is 35,320,657 miles from Earth
and between 46 and 102 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54253545&view=VOP


The object named (2022 EW4)
is 31,865,394 miles from Earth
and between 46 and 103 feet across.
https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=54254427&view=VOP



The world is not going to end today.
For more information on what your favorite asteroid would do if it struck the Earth, see https://impact.ese.ic.ac.uk/ImpactEarth/ImpactEffects/

## Comprehensive Asteroid Report
Here you can see a list of all asteroids that passed within a set amount of lunar distances (LD) of the Earth. One lunar distance (LD) is the distance between the Earth and the Moon, a distance of 238,854 miles. You may also enter a number of days since today that you would like to include within the timeframe of your search.

In [173]:
import numpy as np
import math
daysago=int(input("Enter the number of days since today for which you would like to see the top asteroids" +
                  " in terms of distance from\nEarth. For today's date, enter 0: "))
if daysago>1000:
    print()
    print("That was a long time ago. Please be advised that the human race's ability to track near-Earth " +
         "objects was not always as precise as it is today. You may need to " +
         "increase your lunar distance (LD) parameter to see asteroids from long\nago.")
timeref=' was ' if daysago>0 else ' is now '
d1 = (datetime.today() - timedelta(days=daysago)).strftime('%Y-%m-%d')

#print(d1)
#print(type(d1))
datef=datetime.strptime(d1,format)
complete_date=datef.strftime("%b %d, %Y")
calday=calendar.day_name[datef.weekday()]

print('')
LD=input('One lunar distance (LD) is the distance between the Earth and the Moon. Enter the number of times' +
        ' the distance \nbetween Earth and Moon that you want to include in your distance ' + 
         'parameter. The higher the distance, the more\nnear-Earth objects (NEOs) will be returned. ')
f = (r"https://ssd-api.jpl.nasa.gov/cad.api?dist-max=" + LD + "LD&date-min=" + d1 + "&sort=dist")

data = requests.get(f)
t = json.loads(data.text)
#print(t)
source=t['signature']['source']
if 'JPL' in source:
    prefix=('****Available National Aeronautics and Space Administration (NASA) Jet Propulsion Laboratory ' +
            'data from the\nSmall-Body Database since ' + 
             calday + ', '+ complete_date + '***')
print()
print(prefix)
print()
#print(t['fields'])
count = int(t['count'])

if count==0:
    print('There are no asteroids NASA is currently tracking within this range.' +
          ' If you know of any, please let NASA know.')
elif count>5:
    count=int(input('The number of asteroids within your range is ' + str(count) + '. Enter the number you ' +
         'would like to see. '))
print()
for n in range(count):
    object = t['data'][n]
    dlow = str("{0:,.0f}".format((1329/math.sqrt(.15))*(10**(-0.2*float(object[10])))*3280.84))
    dhigh = str("{0:,.0f}".format((1329/math.sqrt(.05))*(10**(-0.2*float(object[10])))*3280.84))

    print('The object named (' + object[0] +')')
    miles=str("{0:,.0f}".format(np.round(float(object[4])*92955807.267433,decimals=2)))
    print(timeref[1:] + miles + ' miles from Earth on ' + object[3][:11] + ' (The moon is 238,854 miles away)')
    if int(miles.replace(",", ""))<238854:
        
        print('This object' + timeref + 'closer to the Earth than the Moon!')
    print('and between ' + dlow + ' and ' + dhigh + ' feet across.')
    print('This near-Earth object' + timeref + 'ranked #' + str(n+1) + ' in proximity to Earth.')
    print()
    print()

Enter the number of days since today for which you would like to see the top asteroids in terms of distance from
Earth. For today's date, enter 0: 10000

That was a long time ago. Please be advised that the human race's ability to track near-Earth objects was not always as precise as it is today. You may need to increase your lunar distance (LD) parameter to see asteroids from long
ago.

One lunar distance (LD) is the distance between the Earth and the Moon. Enter the number of times the distance
between Earth and Moon that you want to include in your distance parameter. The higher the distance, the more
near-Earth objects (NEOs) will be returned. .06

****Available National Aeronautics and Space Administration (NASA) Jet Propulsion Laboratory data from the
Small-Body Database since Sunday, Jun 18, 1995***

The number of asteroids within your range is 29. Enter the number you would like to see. 29

The object named (2020 VT4)
was 4,191 miles from Earth on 2020-Nov-13 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 21 and 37 feet across.
This near-Earth object was ranked #1 in proximity to Earth.


The object named (2020 QG)
was 5,789 miles from Earth on 2020-Aug-16 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 12 and 20 feet across.
This near-Earth object was ranked #2 in proximity to Earth.


The object named (2021 UA1)
was 5,857 miles from Earth on 2021-Oct-25 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 5 and 8 feet across.
This near-Earth object was ranked #3 in proximity to Earth.


The object named (2011 CQ1)
was 7,364 miles from Earth on 2011-Feb-04 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 4 and 7 feet across.
This near-Earth object was ranked #4 in proximity to Earth.


The object named (2019 UN13)
was 7,838 miles from Earth on 2019-Oct-31 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 4 and 8 feet across.
This near-Earth object was ranked #5 in proximity to Earth.


The object named (2008 TS26)
was 7,853 miles from Earth on 2008-Oct-09 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 3 and 4 feet across.
This near-Earth object was ranked #6 in proximity to Earth.


The object named (2004 FU162)
was 8,024 miles from Earth on 2004-Mar-31 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 14 and 25 feet across.
This near-Earth object was ranked #7 in proximity to Earth.


The object named (2020 CD3)
was 8,143 miles from Earth on 2019-Apr-04 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 5 and 9 feet across.
This near-Earth object was ranked #8 in proximity to Earth.


The object named (2020 JJ)
was 8,329 miles from Earth on 2020-May-04 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 12 and 20 feet across.
This near-Earth object was ranked #9 in proximity to Earth.


The object named (2018 UA)
was 8,495 miles from Earth on 2018-Oct-19 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 10 and 18 feet across.
This near-Earth object was ranked #10 in proximity to Earth.


The object named (2021 SP)
was 8,763 miles from Earth on 2021-Sep-17 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 16 and 27 feet across.
This near-Earth object was ranked #11 in proximity to Earth.


The object named (2016 DY30)
was 8,889 miles from Earth on 2016-Feb-25 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 9 and 15 feet across.
This near-Earth object was ranked #12 in proximity to Earth.


The object named (2022 FD1)
was 9,224 miles from Earth on 2022-Mar-25 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 7 and 12 feet across.
This near-Earth object was ranked #13 in proximity to Earth.


The object named (2022 SK4)
was 9,272 miles from Earth on 2022-Sep-19 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 10 and 17 feet across.
This near-Earth object was ranked #14 in proximity to Earth.


The object named (2019 AS5)
was 9,361 miles from Earth on 2019-Jan-08 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 4 and 7 feet across.
This near-Earth object was ranked #15 in proximity to Earth.


The object named (2020 CW)
was 9,757 miles from Earth on 2020-Feb-01 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 3 and 6 feet across.
This near-Earth object was ranked #16 in proximity to Earth.


The object named (2017 GM)
was 10,108 miles from Earth on 2017-Apr-04 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 12 and 20 feet across.
This near-Earth object was ranked #17 in proximity to Earth.


The object named (2022 UR4)
was 10,591 miles from Earth on 2022-Oct-20 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 19 and 32 feet across.
This near-Earth object was ranked #18 in proximity to Earth.


The object named (2022 KP6)
was 10,828 miles from Earth on 2022-May-25 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 15 and 26 feet across.
This near-Earth object was ranked #19 in proximity to Earth.


The object named (2017 UJ2)
was 11,121 miles from Earth on 2017-Oct-20 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 7 and 13 feet across.
This near-Earth object was ranked #20 in proximity to Earth.


The object named (2011 MD)
was 11,589 miles from Earth on 2011-Jun-27 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 28 and 49 feet across.
This near-Earth object was ranked #21 in proximity to Earth.


The object named (2022 GQ5)
was 11,776 miles from Earth on 2022-Apr-08 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 5 and 9 feet across.
This near-Earth object was ranked #22 in proximity to Earth.


The object named (2014 LY21)
was 12,454 miles from Earth on 2014-Jun-03 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 17 and 30 feet across.
This near-Earth object was ranked #23 in proximity to Earth.


The object named (2009 VA)
was 12,707 miles from Earth on 2009-Nov-06 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 22 and 37 feet across.
This near-Earth object was ranked #24 in proximity to Earth.


The object named (2020 XK1)
was 12,928 miles from Earth on 2020-Dec-07 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 9 and 15 feet across.
This near-Earth object was ranked #25 in proximity to Earth.


The object named (2012 KT42)
was 12,932 miles from Earth on 2012-May-29 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 18 and 31 feet across.
This near-Earth object was ranked #26 in proximity to Earth.


The object named (2017 EA)
was 12,985 miles from Earth on 2017-Mar-02 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 8 and 13 feet across.
This near-Earth object was ranked #27 in proximity to Earth.


The object named (2021 RS2)
was 13,487 miles from Earth on 2021-Sep-08 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 10 and 17 feet across.
This near-Earth object was ranked #28 in proximity to Earth.


The object named (2021 CZ3)
was 14,174 miles from Earth on 2021-Feb-09 (The moon is 238,854 miles away)
This object was closer to the Earth than the Moon!
and between 7 and 12 feet across.
This near-Earth object was ranked #29 in proximity to Earth.